.color1 {
	background: #146cdc!important
}

.color_money {
	color: #5084e2!important
}

.active1 {
	border: 1px solid red!important
}

.active8 {
	background: #1f97f6!important;
	color: #ff6000
}

.odd {
	color: #999999!important
}

.color4 {
	background: white!important
}

.active3 {
	border: 1px solid #3261d8!important
}

.active3 span:nth-child(2) {
	background: #3261d8!important;
	color: #fff!important
}

.colortitle {
	background: -webkit-radial-gradient(#555, #2a2926)!important;
	color: #fff!important
}

.color_shuzi {
	color: #fff!important
}

.my_1 {
	background: url(../images/blue1.png) no-repeat!important
}

.my_1 p {
	color: #9ab4ed!important
}

.nav_o_1 li {
	background: #1366dc
}

.mu-tab-active {
	background: #166ade!important
}

.logo {
	width: 6rem;
	height: 1.8rem;
	background: url(../../static/images/a_li.png) no-repeat!important;
	background-size: 100% 100%!important
}

.ziji {
	background-image: url(../../static/images/info.png)!important;
	background-repeat: no-repeat;
	background-size: 100% 100%!important
}

.hist {
	background-image: url(../../static/images/account.png)!important;
	background-repeat: no-repeat;
	background-size: 100% 100%!important
}

.pass {
	background: url(../../static/images/password.png) no-repeat!important;
	background-size: 100% 100%!important
}

.recommend {
	background: url(../../static/images/recommend.png) no-repeat!important;
	background-size: 100% 100%!important
}

--><!-- -->.kefu {
	background: url(../../static/images/service.png) no-repeat!important;
	background-size: 100% 100%!important
}

.dengchu {
	background: url(../../static/images/dc.png) no-repeat!important;
	background-size: 100% 100%!important
}

.fffhui {
	background: url(../../static/images/fanhui.png) no-repeat!important;
	background-size: 80% 90%!important
}

.game_login {
	background: url(../../static/images/game_login.png)
}

.wo_de {
	background: url(../../static/images/wo_de.png)
}

.ali_pc {
	background-image: url(../../static/images/H2.png)!important
}

.user_login {
	background: url(../../static/images/logo_login.png)!important
}

.logoali {
	background: url(../../static/images/logoali.png)!important;
	background-size: 100% 100%!important
}

.logoazhu {
	background: url(../../static/images/zhu.png)!important;
	background-size: 100% 100%!important
}

.zhanhao {
	background: url(../../static/images/user_login.png)!important;
	background-size: 100% 100%!important
}

.loc {
	background: url(../../static/images/lock.png)!important;
	background-size: 100% 100%!important
}

.openEyes {
	background: url(../../static/images/icon-eyes.png) no-repeat!important;
	background-size: 100% 100%!important;
	height: .8rem!important;
	width: 1rem!important;
	top: 1rem!important
}

.avatar {
	background-image: url(../../static/images/avatar.png);
	background-repeat: no-repeat
}

.avatar_bg {
	background-image: url(../../static/images/avatar_bg.jpg);
	background-repeat: no-repeat
}

.e_mail {
	background-image: url(../../static/images/e_mail.png);
	background-repeat: no-repeat
}

.lock_money {
	background-image: url(../../static/images/lock_money.png);
	background-repeat: no-repeat
}

.hook {
	background-image: url(../../static/images/hook.png);
	background-repeat: no-repeat
}

.lock_my {
	background-image: url(../../static/images/lock_my.png);
	background-repeat: no-repeat
}

.sm_avatar {
	background-image: url(../../static/images/sm_avatar.png);
	background-repeat: no-repeat
}

.service_my {
	background-image: url(../../static/images/service_my.png);
	background-repeat: no-repeat
}

.note_my {
	background-image: url(../../static/images/note_my.png);
	background-repeat: no-repeat
}

.money_my {
	background-image: url(../../static/images/money_my.png);
	background-repeat: no-repeat
}

.my_bg {
	background-image: url(../../static/images/avatar_bg.jpg);
	color: #99c5f6;
}

.ali_activey_a {
	background-image: url(../../static/images/guo_qing_ali_a.jpg)
}

.ali_activey_b {
	background-image: url(../../static/images/login_hao_li_ali_a.jpg)
}

.ali_activey_c {
	background-image: url(../../static/images/qian_dao_ali_a.jpg)
}

.header .header_login button {
	background-color: #2b5cc3!important;
}

header .header_login buttonr {
	border: solid 1px #2754b2!important;
}

.headerLogo {
	background: url(../../static/images/headerlogoal.png) no-repeat!important;
	background-size: 100%!important;
}